<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="msn_exp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="msn_exp.AccountSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <msn_exp.Settings>
            <setting name="PoolVMSize" serializeAs="String">
                <value>extralarge</value>
            </setting>
            <setting name="PoolId" serializeAs="String">
                <value>msn-experimentation-pool</value>
            </setting>
            <setting name="DeleteJob" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteContainer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JobId" serializeAs="String">
                <value>msn-experimentation-job</value>
            </setting>
            <setting name="ShouldDeletePool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldDeleteJob" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldDeleteContainer" serializeAs="String">
                <value>False</value>
            </setting>
        </msn_exp.Settings>
        <msn_exp.AccountSettings>
            <setting name="BatchServiceUrl" serializeAs="String">
                <value>https://msnexp.eastus.batch.azure.com</value>
            </setting>
            <setting name="BatchAccountName" serializeAs="String">
                <value>msnexp</value>
            </setting>
            <setting name="BatchAccountKey" serializeAs="String">
                <value>Uhxk1pGzyD7nH8zTMszIurF91MOxGXdmQKBxwjXa7hzxcRAMk5IefLXM+j47pAOBJRk3n8P5pH8ax5znbU/CWg==</value>
            </setting>
            <setting name="StorageServiceUrl" serializeAs="String">
                <value>core.windows.net</value>
            </setting>
            <setting name="StorageAccountName" serializeAs="String">
                <value>msnexpstorage</value>
            </setting>
            <setting name="StorageAccountKey" serializeAs="String">
                <value>GYxbkis9Rw/FUfnIHTop7oWv7Gmrqww6m56EMVyST6KtzPPDHsagCpOcAKI2zhMMdgo9Vl1KxPyurPjYELMGPA==</value>
            </setting>
        </msn_exp.AccountSettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>